[submodule "/Users/joe/.local/share/zsh/plugins/zsh-syntax-highlighting"]
	path = /Users/joe/.local/share/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
